# BACKEND
ASPNETCORE_ENVIRONMENT=Production
JWT_SECRET=CAMBIA_ESTA_CLAVE_LARGA
POSTGRES_HOST=localhost
POSTGRES_DB=scoutdb
POSTGRES_USER=scoutuser
POSTGRES_PASSWORD=scoutpass
POSTGRES_PORT=5432

# FRONTEND
VITE_API_BASE_URL=http://localhost:8080
